body {
  background: #f2f2f5;
  font-family: "Roboto", sans-serif;

  /* background: #fff; */
}
/* общие классы */
.p-1 {
  padding: 1rem;
}
.title-card {
  background-color: #fff;
  box-shadow: 0 0 0.6rem 0 #00000047;
  margin: 1rem;
  /* width: 84.1rem; */
}
.card {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 0 0.6rem 0 #00000047;
  margin: 1rem;
  width: 84.1rem;
}
.txt {
  font-size: 1.6rem;
  padding: 0.5rem;
  font-weight: 600;
}
.ico {
  width: 4rem;
  margin-right: 0.5rem;
}

.card-name {
  font-size: 2.4rem;
  margin: 1.5rem 0.5rem 0;
}
.thumbs-img {
  width: 25rem;
  /* height: 8rem; */
  padding: 1rem 1rem 0 0;
}
/* общие классы */
.wrapper {
  margin-top: 2rem;
  max-width: 90rem;
  /* width: 60%; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
.profession {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.title {
  display: flex;
  flex-wrap: wrap;
}
.title__left-block {
  /* box-shadow: 0 0 0.6rem 0 #00000047; */
}
.title__photo {
  width: 20rem;
}
.title__desc {
  width: 60rem;
  min-width: 20rem;
  position: relative;
}
.desc-txt {
  padding-bottom: 1.5rem;
}
.title__contacts-block {
  /* display: flex; */
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  /* flex-direction: row; */
  /* align-items: flex-end; */
  justify-content: center;
  /* align-content: end; */
}
