body {
  padding: 0;
  margin: 10px 0 0 30px;
  /* color: rgb(5, 190, 5); */
  color: #3a7942;
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.884);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}
hr {
  border: 2px solid #3a7942;
}
h1.title {
  text-align: center;
}
.userpic {
  border-radius: 0 20px 0 10px;
  /* border: 3px solid; */
  box-shadow: 2px 2px 5px grey;
}
