.up {
  position: fixed;
  bottom: 1rem;
  right: 4rem;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.up.deactivate {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.upLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  opacity: 0.4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s;
}

.upLink:hover {
  opacity: 1;
}

.upLink:hover .upLinkText {
  visibility: visible;
}

.upLink img {
  width: 2rem;
  height: 2rem;
}

.upLinkText {
  visibility: hidden;
  font-size: 1.4rem;
  color: #ed7163;
  margin-top: 0.5rem;
  transition: visibility 0.3s;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  min-width: 4rem;
  text-align: center;
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
  .up {
    display: none;
  }
}

/* Адаптивность для мобильных */
@media (max-width: 480px) {
  .up {
    display: none;
  }
}
