@use "../work/mixins";
@use "../work/fonts";
@use "../work/colors";
.header {
  &__inner {
    padding: 3rem 0 4rem;
    border-bottom: 1px solid colors.$color2;
  }
}
.menu {
  &__btn {
    display: none;
  }
  &__item {
    perspective: 2rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__list {
    @include mixins.flex(mixins.$sb);

    &-link {
      transition: all 0.3s;
      &:hover {
        color: colors.$color1;
      }
    }
  }
}
