@use "../work/mixins";
@use "../work/fonts";
@use "../work/colors";
.hero {
  &__inner {
    padding: 4rem 0 10rem;
    position: relative;
  }

  &__top {
    @include mixins.flex(mixins.$sb);
    align-items: center;
    margin-bottom: 3rem;

    & a {
      color: colors.$color2;
      transition: color 0.3s;

      &:hover {
        color: #000;
      }
    }
  }

  &__title {
    max-width: 10rem;

    @include fonts.font(fonts.$f40, fonts.$lh44, 900, colors.$color1);
  }

  &__text {
    max-width: 18.5rem;
  }

  &__lang {
    vertical-align: middle;
    transform: rotate(-90deg) translate(50%, -100%);
    transform-origin: right top;

    &-mobile {
      // display: none;
      padding: 0.5rem 0 0.5rem;
      position: absolute;
      right: 1rem;
      bottom: 0;
    }
  }

  &__menu-mobile {
    display: none;
  }

  &__menu-item {
    width: 100%;
  }

  &__photo {
    width: 100%;
    min-height: 39rem;
    background: url(../../assets/img/photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(0.8);
    border-radius: 1rem;
  }

  &__menu-list {
    display: none;
    // position: relative;
  }
}
.hero__menu-btn {
  display: none;
  position: relative;
  width: 3.5rem;
  height: 2.4rem;
}
