.hero {
  &__inner {
    padding: 4rem 0 10rem;
    position: relative;
  }

  &__top {
    @include flex($sb);
    align-items: center;
    margin-bottom: 3rem;

    & a {
      color: $color2;
      transition: color .3s;

      &:hover {
        color: #000;
      }
    }
  }

  &__title {
    max-width: 10rem;

    @include font($f40, $lh44, 900, $color1);
  }

  &__text {
    max-width: 18.5rem;
  }

  &__lang {
    vertical-align: middle;
    transform: rotate(-90deg) translate(50%, -100%);
    transform-origin: right top;

    &-mobile{
      // display: none;
      padding: 0.5rem 0 0.5rem;
      position: absolute;
      right: 1rem;
      bottom: 0;
    }
  }

  &__menu-mobile {
    display: none;
  }

  &__menu-item{
    width: 100%;
  }

  &__photo {
    width: 100%;
    min-height: 39rem;
    background: url(/../assets/img/photo.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__menu-list{
    display: none;
    // position: relative;
  }

  
}
.hero__menu-btn {
  display: none;
  position: relative;
  width: 3.5rem;
  height: 2.4rem;
}