// 1170(slg) 992(lg) 768(md) 576(sm) 480(ssm) 320(xs)

@include mq(md) {
  //768(md)

  .up {
    display: none;
  }

  .header {
    display: none;

    .header__lang {
      display: none;
    }
  }

  .hero {

    &__inner {
      padding: 1rem 0 10rem;
    }

    &__lang {
      display: none;

      &-mobile {
        // display: block;
      }
    }

    &__menu-mobile {
      display: block;
      // width: 100%;
    }

    &__photo {
      width: 100%;
      min-height: 39rem;
      background: url(/../assets/img/photo.jpg) no-repeat;
      background-position: 60% 40%;
      background-size: 250%;
    }
  }

  .hero__menu {
    order: 1;

    &-btn {
      display: block;
      background: transparent;
      position: fixed;
      top: 2rem;
      right: 1rem;
      // transform: translateY(-50%);
      z-index: 2;

      &--active {
        opacity: 0.3;
      }

      &-line {
        display: block;
        width: 100%;
        height: .2rem;
        background: rgb(0, 0, 0);
        position: absolute;
        left: 0;

        transition: all .3s linear;

        &--first {
          top: 0;
        }

        &--second,
        &--third {
          top: 50%;
          transform: translateY(-50%)
        }

        &--fourth {
          bottom: 0;
          color: rgb(0, 0, 0);

        }
      }

      &--active &-line--first,
      &--active &-line--fourth {
        opacity: 0;

      }

      &--active &-line--second {
        transform: translateY(-50%) rotate(45deg);
      }

      &--active &-line--third {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      text-align: center;
      opacity: 0.95;
      top: 0;
      left: 0;
      right: 0;
    padding-bottom: 2rem;

      background-color: #ffffff;
      transform: translatex(80rem);
      transition: all .5s;

      &.hero__menu-list--active {
        z-index: 1;
        transform: translateY(0);
      }

      &-link {
        display: block;

    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 2rem 0;
      }
    }
  }

  .certificates {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

}



@include mq(sm) {
  // 576(sm)

  .hero {
    &__photo {
      background-size: 300%;
    }

    &__title {
      font-size: 3rem;
      line-height: 3.4rem;
    }
  }

  .skills {

    &__items {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10rem;
    }

    &__item {}
  }

}



@include mq(ssm) {
  // 480(ssm)

  .hero {
    &__top{
      display: block;
    }
    &__title{
      margin-bottom: 1rem;
    }
    &__text {
      text-align: left;
    }
    &__photo {
      background-size: 400%;
    }
  }

  .about {

    &__items p {
      font-size: 1.6rem;
    }
  }

  .certificates {
    &__items {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      margin: 0 auto;
    }
  }

  .social {

    &__link {
      &:hover {
        transform: none;
      }

      &+& {
        margin-left: auto;
      }
    }
  }

  .footer__bottom {
    font-size: 1.6rem;
  }
}



@include mq(xs) {
  // 320(xs)

  .hero {

    &__menu-list.hero__menu-list--active {
      // transform: translateY(13rem);
    }

    &__top {
      flex-wrap: wrap;
    }

    &__title {
      // order: 1;
      margin-bottom: 1rem;
    }

    &__text {
      // order: 3;
    }

    &__menu-mobile {
      order: 2;
    }

    &__photo {
      background-size: 500%;
    }
  }

  .about {
    &__items p {
      font-size: 1.4rem;
    }
  }

  .certificates {
    &__items {
      width: 100%;
    }
  }


}