.skills {

  &__items {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-flow: row;
    gap: 2rem;

  }
&__title{
  margin-bottom: 7rem;
}
  &__item {
    max-width: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 4rem;
    flex-direction: column;
    margin-bottom: 2rem;

    &--img {
      max-width: 8rem;
      max-height: 8rem;
      margin-bottom: 2.5rem;
    }

    &--title {
  @include font($f16, $lh16, 400, $color2);

    }

    &--text {
      max-width: 100%;
      word-wrap: break-word;
    }
  }
}