<section class="certificates" id="certificates">
  <div class="container">
    <div class="certificates__inner inner">

      <h2 class="certificates__title title">Certificates</h2>

      <div class="certificates__items">

        <a class="certificates__link" target="_blank" href="https://www.sololearn.com/Certificate/1014-8369424/jpg/">
          <img class="certificates__img" src="assets/img/certificates/c1.jpg" alt="" />
        </a>

        <a class="certificates__link" target="_blank" href="https://www.sololearn.com/Certificate/1023-8369424/jpg/">
          <img class="certificates__img" src="assets/img/certificates/c2.jpg" alt="" />
        </a>
        <a class="certificates__link" target="_blank" href="https://geekbrains.ru/certificates/1072678">
          <img class="certificates__img" src="assets/img/certificates/c3.jpg" alt="" />
        </a>

        <a class="certificates__link" target="_blank" href="https://geekbrains.ru/certificates/1053485">
          <img class="certificates__img" src="assets/img/certificates/c4.jpg" alt="" />
        </a>

        <a class="certificates__link" target="_blank" href="https://geekbrains.ru/certificates/439257">
          <img class="certificates__img" src="assets/img/certificates/c5.jpg" alt="" />
        </a>

        <a class="certificates__link" target="_blank" href="https://stepik.org/cert/890672">
          <img class="certificates__img" src="assets/img/certificates/c6.jpg" alt="" />
        </a>

        <!-- <a class="certificates__link" target="_blank"
          href="https://stepik.org/certificate/e18fff446fadc8c94b3a33fe930b699100c4dd98.pdf">
          <img class="certificates__img" src="assets/img/certificates/c7.jpg" alt="" />
        </a> -->


      </div>
    </div>
  </div>
</section>