@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: #000;
}

.lock {
    overflow: hidden;
}

.page {
    position: relative;
}

.up {
    position: fixed;
    bottom: 1rem;
    right: 4rem;
    max-width: 2.5rem;
    z-index: 1;
}

.up__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    opacity: 0.4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.up__link:hover {
    opacity: 1;
}

.up__link:hover .up__link-text {
    visibility: visible;
}

.up__link-text {
    visibility: hidden;
    font-size: 1.4rem;
    color: #ed7163;
}

.wrapper {
    background: #F6F6F6;
}

.inner {
    padding: 12rem 0;
}

a {
    color: #828282;
}

.container {
    max-width: 94rem;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #828282;
    line-height: 4rem;
    color: #F6F6F6;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.btn:hover {
    color: #000;
}

.title {
    font-size: 3.4rem;
    line-height: 4.2rem;
    font-weight: 500;
    color: #000;
    line-height: 0.2rem;
    display: inline-block;
    padding: 2rem 2rem 0 2rem;
    background-color: #fc285b;
}

.header__inner {
    padding: 3rem 0 4rem;
    border-bottom: 1px solid #828282;
}

.menu__btn {
    display: none;
}

.menu__item {
    -webkit-perspective: 2rem;
    perspective: 2rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu__item:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu__list-link {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu__list-link:hover {
    color: #000;
}

.hero__inner {
    padding: 4rem 0 10rem;
    position: relative;
}

.hero__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3rem;
}

.hero__top a {
    color: #828282;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.hero__top a:hover {
    color: #000;
}

.hero__title {
    max-width: 10rem;
    font-size: 4rem;
    line-height: 4.4rem;
    font-weight: 900;
    color: #000;
}

.hero__text {
    max-width: 18.5rem;
}

.hero__lang {
    vertical-align: middle;
    -webkit-transform: rotate(-90deg) translate(50%, -100%);
    -ms-transform: rotate(-90deg) translate(50%, -100%);
    transform: rotate(-90deg) translate(50%, -100%);
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}

.hero__lang-mobile {
    padding: 0.5rem 0 0.5rem;
    position: absolute;
    right: 1rem;
    bottom: 0;
}

.hero__menu-mobile {
    display: none;
}

.hero__menu-item {
    width: 100%;
}

.hero__photo {
    width: 100%;
    min-height: 39rem;
    background: url(../../assets/img/photo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
    border-radius: 1rem;
}

.hero__menu-list {
    display: none;
}

.hero__menu-btn {
    display: none;
    position: relative;
    width: 3.5rem;
    height: 2.4rem;
}

@media (max-width: 768px) {
    .inner {
        padding: 5rem 0 !important;
    }

    .up {
        display: none !important;
    }

    .header {
        display: none !important;
    }

    .header .header__lang {
        display: none !important;
    }

    .hero__inner {
        padding: 1rem 0 10rem !important;
    }

    .hero__lang {
        display: none !important;
    }

    .hero__menu-mobile {
        display: block !important;
    }

    .hero__photo {
        width: 100% !important;
        min-height: 39rem !important;
        background: url(../../assets/img/photo.jpg) no-repeat !important;
        background-position: 60% 40% !important;
        background-position: right 25% center !important;
        background-size: cover !important;
    }

    .hero__menu {
        -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
        order: 1 !important;
    }

    .hero__menu-btn {
        display: block !important;
        background: transparent !important;
        position: fixed !important;
        top: 2rem !important;
        right: 1rem !important;
        z-index: 2 !important;
    }

    .hero__menu-btn--active {
        opacity: 0.3 !important;
    }

    .hero__menu-btn-line {
        display: block !important;
        width: 100% !important;
        height: 0.2rem !important;
        background: rgb(0, 0, 0) !important;
        position: absolute !important;
        left: 0 !important;
        -webkit-transition: all 0.3s linear !important;
        transition: all 0.3s linear !important;
    }

    .hero__menu-btn-line--first {
        top: 0 !important;
    }

    .hero__menu-btn-line--second, .hero__menu-btn-line--third {
        top: 50% !important;
        -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }

    .hero__menu-btn-line--fourth {
        bottom: 0 !important;
        color: rgb(0, 0, 0) !important;
    }

    .hero__menu-btn--active .hero__menu-btn-line--first, .hero__menu-btn--active .hero__menu-btn-line--fourth {
        opacity: 0 !important;
    }

    .hero__menu-btn--active .hero__menu-btn-line--second {
        -webkit-transform: translateY(-50%) rotate(45deg) !important;
        -ms-transform: translateY(-50%) rotate(45deg) !important;
        transform: translateY(-50%) rotate(45deg) !important;
    }

    .hero__menu-btn--active .hero__menu-btn-line--third {
        -webkit-transform: translateY(-50%) rotate(-45deg) !important;
        -ms-transform: translateY(-50%) rotate(-45deg) !important;
        transform: translateY(-50%) rotate(-45deg) !important;
    }

    .hero__menu-list {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        height: 100vh !important;
        position: fixed !important;
        text-align: center !important;
        opacity: 0.95 !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        padding-bottom: 2rem !important;
        background-color: #ffffff !important;
        -webkit-transform: translatex(80rem) !important;
        -ms-transform: translatex(80rem) !important;
        transform: translatex(80rem) !important;
        -webkit-transition: all 0.5s !important;
        transition: all 0.5s !important;
    }

    .hero__menu-list.hero__menu-list--active {
        z-index: 1 !important;
        -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }

    .hero__menu-list-link {
        display: block !important;
        font-size: 1.8rem !important;
        line-height: 2.8rem !important;
        padding: 2rem 0 !important;
    }

    .skills__items {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 10rem !important;
    }

    .certificates__items {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 3rem !important;
    }
}

@media (max-width: 576px) {
    .hero__title {
        font-size: 3rem !important;
        line-height: 3.4rem !important;
    }

    .skills__items {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        gap: 10rem !important;
    }
}

@media (max-width: 480px) {
    .hero__top {
        display: block !important;
    }

    .hero__title {
        margin-bottom: 1rem !important;
    }

    .hero__text {
        text-align: left !important;
    }

    .about__items p {
        font-size: 1.6rem !important;
    }

    .certificates__items {
        width: 90% !important;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 2rem !important;
        margin: 0 auto !important;
    }

    .portfolio__tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 3rem;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .portfolio__tabs-item {
        text-align: center !important;
        width: 85% !important;
        font-size: 2.3rem !important;
    }

    .social__link:hover {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    .footer__bottom {
        font-size: 1.6rem !important;
    }
}

@media (max-width: 320px) {
    .hero__top {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .hero__title {
        margin-bottom: 1rem !important;
    }

    .hero__menu-mobile {
        -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
        order: 2 !important;
    }

    .hero__photo {
        background-size: 500% !important;
    }

    .about__items p {
        font-size: 1.4rem !important;
    }

    .certificates__items {
        width: 100% !important;
    }
}

.about__title {
    margin-bottom: 2.5rem;
}

.about__items {
    margin: 0 auto;
    max-width: 60rem;
}

.about__items p {
    margin-bottom: 2rem;
}

.about__items a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.about__items a:hover {
    color: #000;
}

.skills__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    gap: 2rem;
}

.skills__title {
    margin-bottom: 7rem;
}

.skills__item {
    max-width: 17rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
}

.skills__item--img {
    max-width: 8rem;
    max-height: 8rem;
    margin-bottom: 2.5rem;
}

.skills__item--title {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: #828282;
}

.skills__item--text {
    max-width: 100%;
    word-wrap: break-word;
}

.portfolio__tabs {
    margin-bottom: 2rem;
}

.portfolio__tabs-item {
    position: relative;
    width: 33.3333333333%;
    background-color: transparent;
    padding: 0.5rem 2rem 0 2rem;
    font-size: 2.1rem;
    margin: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
}

.portfolio__tabs-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    z-index: -1;
}

.portfolio__tabs-item:hover::before {
    background-color: #fc285b;
    height: 0.2rem;
    width: 100%;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.portfolio__tabs-item--active {
    color: #000;
}

.portfolio__tabs-item--active::before {
    content: "";
    background-color: #fc285b;
    height: 1.8rem !important;
    z-index: -1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: height 0.3s !important;
    transition: height 0.3s !important;
    width: 100%;
}

.portfolio__tabs-item--active:hover::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: none;
    transition: none;
}

.portfolio__title {
    margin-bottom: 4.7rem;
}

.portfolio__items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    z-index: 0;
}

.portfolio__items--active {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    position: static;
}

.portfolio__item {
    margin-bottom: 10rem;
    -webkit-box-shadow: 0 0.3rem 1rem rgba(192, 192, 192, 0.1);
    box-shadow: 0 0.3rem 1rem rgba(192, 192, 192, 0.1);
}

.portfolio__item:last-child {
    margin-bottom: 0;
}

.portfolio__link {
    position: relative;
    display: block;
    margin-bottom: 2.5rem;
    max-width: 100%;
    max-height: 52rem;
}

.portfolio__link.dev:after {
    position: absolute;
    content: "in work";
    top: 0;
    left: 0;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    color: rgb(241, 241, 241);
    background: #ea5241;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.portfolio__text--link {
    display: inline-block;
    margin-bottom: 0.5rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.portfolio__text--link:hover {
    color: #000;
}

.portfolio__description {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.portfolio__description a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.portfolio__description a:hover {
    color: #000;
}

.certificates__title {
    margin-bottom: 7rem;
}

.certificates__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.certificates .certificates__link {
    -webkit-box-shadow: 0 0.3rem 1rem rgba(192, 192, 192, 0.2);
    box-shadow: 0 0.3rem 1rem rgba(192, 192, 192, 0.2);
}

.footer__title {
    margin-bottom: 3rem;
}

.footer__text {
    margin-bottom: 3rem;
}

.footer__mail {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
    background: #000;
    padding: 1.2rem 3rem;
    margin-bottom: 9rem;
    border-radius: 3rem;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.footer__mail:hover {
    background: #fc285b;
    color: #000;
}

.footer__bottom {
    color: #828282;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.social__link {
    display: block;
    width: 5rem;
    border: 0.1rem solid #000;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.social__link:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.social__link + .social__link {
    margin-left: 2rem;
}