@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$roboto:'Roboto', sans-serif;
// $inter: 'Inter', sans-serif;
$font1: $roboto;
// $font2: $merri;
@mixin ff1 {font-family: $font1;}
// @mixin ff2 {font-family: $font2;}
@mixin font($size, $lh, $weight, $color) {font-size: $size;line-height: $lh;font-weight: $weight;color: $color;}
@mixin font-lite($size, $lh) {font-size: $size;line-height: $lh;}
$f12:1.2rem;$f14:1.4rem;$f15:1.5rem;$f16:1.6rem;$f18:1.8rem;$f20:2rem;$f22:2.2rem;$f24:2.4rem;$f26:2.6rem;$f28:2.8rem;$f30:3rem;$f34:3.4rem;$f36:3.6rem;$f38:3.8rem;$f40:4rem;$f44:4.4rem;$f48:4.8rem;$f50:5rem;$f60:6rem;$f65:6.5rem;$f96:9.6rem;$f150:15rem;
$lh12:1.2rem;$lh14:1.4rem;$lh16:1.6rem;$lh18:1.8rem;$lh20:2rem;$lh21:2.1rem;$lh22:2.2rem;$lh23:2.3rem;$lh24:2.4rem;$lh26:2.6rem;$lh28:2.8rem;$lh30:3rem;$lh33:3.3rem;$lh34:3.4rem;$lh35:3.5rem;$lh36:3.6rem;$lh38:3.8rem;$lh40:4rem;$lh42:4.2rem;$lh43:4.3rem;$lh44:4.4rem;$lh48:4.8rem;$lh51:5.1rem;$lh54:5.4rem;$lh56:5.6rem;$lh74:7.4rem;$lh79:7.9rem;$lh80:8rem;$lh120:12rem;$lh150:15rem;$lh225:22.5rem;