@mixin mq($point) {
    @if $point==slg {
        @media (max-width: 1170px) {
            @content;
        }
    }

    @else if $point==lg {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $point==md {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $point==ssm {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $point==xs {
        @media (max-width: 320px) {
            @content;
        }
    }

}